.page-header {
  background-color: #ffffff;
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
  padding: 17.5px 0;
  display: block;
  text-decoration: none;
}

.logo-accent {
  color: #4d5ae5;
}

.navigation-list,
.contacts {
  display: none;
}

.mobile-menu-open-btn {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  line-height: 0;
}

.mobile-menu-open-icon {
  stroke: #2e2f42;
}

@media screen and (min-width: 768px) {
  .mobile-menu-open-btn {
    display: none;
  }

  .navigation {
    display: flex;
    align-items: center;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .navigation-list {
    display: flex;
    gap: 40px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .navigation-link {
    position: relative;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding: 24px 0;
    display: block;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .navigation-link.current {
    color: #404bbf;
  }

  .navigation-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .navigation-link:hover,
  .navigation-link:focus,
  .navigation-link.active {
    color: #404bbf;
  }

  .contacts {
    display: block;
    font-style: normal;
    margin-left: auto;
  }

  .contacts-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .contacts-link {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    display: block;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts-link:hover,
  .contacts-link:focus {
    color: #404bbf;
  }
}

@media screen and (min-width: 1158px) {
  .header-logo {
    margin-right: 76px;
  }

  .contacts-list {
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }

  .contacts-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
  }
}
